<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trips</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>button a{
            color: white;
        }
        </style>
    </head>
    <body>
        <div class="navbar">
            <a class = 'pull-right' href="{% url 'users:logout' %}">Logout</a>
            <p>Username: {{request.session.username}}</p>
            
        </div>
        <div class="container">
        <h2>Your Trips</h2>
        <table class="table">
            <tr><th>Destination</th><th>Travel Start Date</th><th>Travel End Date</th><th>Plan</th></tr>
            {% for trip in trips %}
            <tr><td><a href = '/destination/{{trip.id}}'>{{trip.destination}}</a></td><td>{{trip.from_date}}</td><td>{{trip.to_date}}</td><td>{{trip.description}}</td></tr>
            {% endfor %}
        </table>
        <button class="btn-primary"><a  href="{% url 'travels:add' %}">Add Trip</a></button>
        <h3>Other User's Trips</h3>
        <table class="table">
            <tr><th>Name</th><th>Destination</th><th>Travel Start Date</th><th>Travel End Date</th><th>Plan</th><th>Join?</th></tr>
            {% for trip in other_trips %}
            <tr><td>{{trip.planned_by.name}}</td><td><a href = '/destination/{{trip.id}}'>{{trip.destination}}</a></td><td>{{trip.from_date}}</td><td>{{trip.to_date}}</td><td>{{trip.description}}</td><td><form action="join" method="post">
                {%csrf_token%}
                <input type="hidden" name="user_id" value="{{request.session.user_id}}">
                <input type="hidden" name="trip_id" value="{{trip.id}}">
                <input type="submit" class="btn-primary" name="submit" value="Join">
            </form></td></tr>
            {% endfor %}


        </table>
        </div>
        
    </body>
</html>