<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{trip.destination}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="{% url 'travels:travels' %}">Home</a>
            <a href="{% url 'users:logout' %}" class='pull-right'>Logout</a>
        </div>
        <div class="container">
        <h1>{{trip.destination}}</h1>
        <p>Planned by: {{trip.planned_by.name}}</p>
        <p>Description: {{trip.description}}</p>
        <p>Travel Date From: {{trip.from_date}}</p>
        <p>Travel Date To: {{trip.to_date}}</p>



        <h1>Other Users' joining this trip:</h1>
            {% for user in trip.joined_by.all %}
            <h3>{{ user.name }}</h3>
            {% endfor %}
        </div>

    </body>
</html>